main {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card {
    padding: 2rem 2.5rem 2.5rem 2rem;
    margin: 2rem;
}

.container {
    margin: 0 0 0 15rem;
}

/* HEADER/SEARCH STYLING START */
header {
    padding-left: 3rem;
    background-image: linear-gradient(to right, #021572, #ffffff);
}

header h1 {
    font-size: 4rem;
    padding-top: 1rem;
    color: white;
}

.btn {
    background-color: #ffffff;
    border-radius: 7px;
    color: #1e1f1f;
}

.btn:hover {
    background-color: #021572;
    color: #ffffff;
}

.btn:focus {
    background-color: #ffffff;
    color: #1e1f1f;
}

.row .col.s12 {
    width: 65%;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #ffffff;
    -webkit-box-shadow: 0 1px 0 0 #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
    color: #ffffff;
    background-color: transparent;
}


/*  HEADER/SEARCH STYLING END */

/* JOB CARD STYLING START */
.parent {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

/* COIN DESCRIPTION CARD */
#coinDataContainer {
    padding: 30px;
    box-sizing: content-box;
    width: 100%;
}

#coinHomepage.btn-floating.pulse::before {
    background-color: rgba(2, 21, 39, 0.5);
    top: -1px;
    left: 3px;
}

#coinHomepage.btn-floating.pulse {
    background-color: transparent;
    box-shadow: none;
}

.icons-btn {
    background-color: transparent;
    border: none;
    z-index: 1;
}

.icons-btn:focus {
    background-color: transparent;
    border: none;
    z-index: 1;
}

#coinPrice {
    color: green;
}

/* TWITTER CARD STYLING */
.card.horizontal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 50%;
}

#plumbs .col.s12 {
    padding-left: 10px;
    width: 30%;
}

#tweetInfo.s12.m4.l4 {
    display: flex;

}

#tweetContainer.row {
    display: flex;
    flex-direction: column;

}

.card-content {
    display: flex;
    justify-content: center;
}

.child {
    display: inline-block;
}


/* JOB CARD STYLING END */
@media screen and (max-width: 1980px) {
    .cr {
        flex-basis: 10%;
    }
}

@media screen and (max-width: 1600px) {
    .cr {
        flex-basis: 14.2%;
    }
}

@media screen and (max-width: 1300px) {
    .cr {
        flex-basis: 20%;
    }
}

@media screen and (max-width: 800px) {
    .cr {
        flex-basis: 33.3%;
    }
}

@media screen and (max-width: 500px) {
    .cr {
        flex-basis: 50%;
    }
}